<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
       <link rel="stylesheet" href="http://yui.yahooapis.com/3.4.0/build/cssreset/reset-min.css" media="screen">
       <link rel="stylesheet" href="http://yui.yahooapis.com/3.4.1/build/cssfonts/cssfonts-min.css" media="screen">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Satisfy" media="screen">
       <link rel="stylesheet" href="css/main.css" media="screen">
    </head>
    <body>
        <div id="wrapper">
            <div id="wrapperInner">
                <h1>Jay is Instagraming</h1>
                <ul id="instaImages">
               <!--  <?php foreach($media['data'] as $value):?>
                <li>
                    <img src="<?php echo $value['images']['low_resolution']['url']; ?>"/>
                    <div class="instaInfos">
                        <div class="postedBy"><span>Posted by:</span> <? echo $value['user']['full_name']; ?></div>
                        <div class="likes <?php echo($value['likes']['count'] > 0)?'liked':'';?>"><? echo $value['likes']['count'] ?></div>
                    </div>    

                </li>
                <?php endforeach;?> -->
                </ul>
            </div>
        </div>
    </body>
</html>